{% extends "base.html" %}
{% block content %}
<div class="add-listing-page">
      <h1>Add Listing</h1>

      <form method="post" enctype="multipart/form-data" class="add_listing_form">
            {% csrf_token %}

            <div class="form-group">
                  <label for="{{ form.title.id_for_label }}">Title</label>
                  {{ form.title }}
            </div>

            <div class="form-row">
                  <div class="form-group">
                        <label for="{{ form.medium.id_for_label }}">Medium</label>
                        {{ form.medium }}
                  </div>

                  <div class="form-group">
                        <label for="{{ form.edition.id_for_label }}">Edition</label>
                        {{ form.edition }}
                  </div>
            </div>

            <div class="form-group">
                  <label for="{{ form.dimensions.id_for_label }}">Dimensions</label>
                  {{ form.dimensions }}
            </div>

            <div class="form-group">
                  <label for="{{ form.history.id_for_label }}">Provenance / History</label>
                  {{ form.history }}
            </div>

            <div class="form-row">
                  <div class="form-group">
                        <label for="{{ form.artist_name.id_for_label }}">Artist name</label>
                        {{ form.artist_name }}
                  </div>

                  <div class="form-group">
                        <label for="{{ form.date.id_for_label }}">Creation date</label>
                        {{ form.date }}
                  </div>
            </div>

            <div class="form-row">
                  <div class="form-group">
                        <label for="{{ form.starting_price.id_for_label }}">Starting price</label>
                        {{ form.starting_price }}
                  </div>

                  <div class="form-group">
                        <label for="{{ form.art_movement.id_for_label }}">Art movement</label>
                        {{ form.art_movement }}
                  </div>
                  <div class="form-group">
                        <label for="{{ form.auction_start_date.id_for_label }}">Auction Start Date</label>
                        {{ form.auction_start_date }}
                  </div>
                  <div class="form-group">
                        <label for="{{ form.auction_end_date.id_for_label }}">Auction End Date</label>
                        {{ form.auction_end_date }}
                  </div>
            </div>

            <div class="form-group">
                  <label for="images">Artwork images</label>
                  <input type="file" name="images" id="images" multiple>
            </div>

            <button type="submit" class="primary-button">
                  Create Listing
            </button>
      </form>
</div>

{% endblock %}
