{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
<link rel="stylesheet" href="{% static 'css/my-listing.css' %}">
<link rel="stylesheet" href="{% static 'css/art-details.css' %}">

<div class="art-details-container">

      <h1 class="my-listing-title">{{artwork.title}} </h1>

      {% with img=artwork.images.first %}
      {% if img %}
      <div class="images-container">
                {% with main_image=artwork.images.first %}
                    {% if main_image %}
                        <img class="main-image"
                             src="{{ main_image.image.url }}"
                             alt="image of artwork">
                    {% endif %}
                {% endwith %}

                <div class="other-images">
                    {% for img in artwork.images.all %}
                        {% if not forloop.first %}
                            <img src="{{ img.image.url }}"
                                 class="side-image"
                                 alt="image of artwork">
                        {% endif %}
                    {% endfor %}
                </div>

      </div>

      {% endif %}

      {% endwith %}

      <div class=update-remove-container>
          <a href="{% url 'delete-listing' id=artwork.id %}" class="btn btn-secondary" onclick="return confirm('Are you sure you want to remove this?')"> Remove listing</a>
          {% if highest_bid is None %}
            <a href="{% url 'update-listing' id=artwork.id %}" class="btn btn-secondary"> Update listing</a>
          {% endif %}
      </div>
      <div class="listing-description-container">

            <div class="information">

                  <h2 class="artist-name">{{ artwork.artist_name }} <span class="year">( {{artwork.date.year}} )</span>
                  </h2>
                  <p class="history">{{ artwork.history }}</p>
                <div class="listing-info-row">
                  <p class="listing-text">Medium: {{ artwork.medium }}</p>
                  <p class="italic-text">Style: {{ artwork.art_movement }}</p>
                  <p class="italic-text">Edition: {{ artwork.edition }}</p>
                  <p class="italic-text">Dimensions: {{ artwork.dimensions }}</p>
                </div>

                <div class="auction-info">
    {#            auction not over#}
                    {% if not auction_over %}
                        <h2>Auction on going</h2>
                        <p>ends in: {{ artwork.days_remaining }} days</p>
                    {% else %}
    {#                    auction over#}
                        <h2>Auction over</h2>
    {#                      artwork not sold#}
                            {% if not artwork.sold %}
                                <p>This artwork is not sold yet. Accept a bid to complete the sale.</p>
    {#                artwork sold#}
                            {% else %}
                                <p>Artwork sold for: {{highest_bid.amount}} kr.</p>
                            {% endif %}
                    {% endif %}
                        <p>starting price: {{ artwork.starting_price }} kr.</p>
                        <p>Auction end date: {{artwork.auction_end_date}}</p>
                </div>
            </div>

      </div>

      <h1>Bids for this listing</h1>

        {% if not bids %}
            <div class="no-bids">
                <p>No bids yet. Once buyers submit bids, they will appear here.</p>
            </div>
        {% else %}
      <div class="gallery-container">
            {% for bid in bids %}
            <a class="art-card">
                  <div class="art-card-info">
                        <p class="bid-status">{{bid.status}}</p>
                        {% if auction_over %}
                        {% if not bid.artwork.sold %}

                        <form action="{% url 'accept-bid' bid.id %}" method="post">
                              {% csrf_token %}
                              <button type="submit">Accept Bid</button>
                        </form>
                        {% endif %}
                        {% endif %}
                        <h5 class="">{{bid.buyer.full_name}}</h5>
                        <p class="price">Bid: <b>{{bid.amount}} kr.</b></p>
                  </div>
            </a>
            {% endfor %}
            <div>
            </div>
        {% endif %}
      </div>
</div>

{% endblock %}
