{% extends 'base.html' %}

{% block content %}

<div class="checkout-page">
    <div class="checkout-layout">
        <div class="checkout-main">

            <form method="post" class="bank-form">
                {% csrf_token %}

                <h1>Bank transfer</h1>

                <div class="bank-row">
                    <div class="bank-field">
                        <label>Bank</label>
                        {{ form.bank }}
                    </div>

                    <div class="bank-field small-field">
                        <label>Hb</label>
                        {{ form.hb }}
                    </div>

                    <div class="bank-field">
                        <label>Account</label>
                        {{ form.account }}
                    </div>
                </div>


                <div class="checkout-buttons">
                    <a href="{% url 'payment_method' shipping.id %}" class="back-btn">Back</a>
                    <button type="submit" class="confirm-btn">Confirm</button>
                </div>
            </form>

        </div>

        {% include "bids/component/order_summary.html" %}

    </div>

</div>

{% endblock content %}