{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="checkout-page">
    <div class="checkout-layout">

        <div class="checkout-main">
             <h1>Card Payment</h1>
            <form method="post" class="card-form">
                {% csrf_token %}

                <div class="payment-field">
                    <label>Cardholder's name</label>
                    {{ form.cardholder_name }}
                </div>

                <div class="payment-field">
                    <div class="card-info-wrapper">
                        <label>Card information</label>
                        {{ form.card_number }}
                        <img src="{% static 'img/cards.png' %}" alt="Cards" class="cards-img">
                    </div>
                </div>

                <div class="card-row">

                    {{ form.card_expiration }}

                    <div class="cvv-wrapper">
                        {{ form.card_cvv }}
                        <img src="{% static 'img/card.svg' %}" alt="Cards" class="cvv-img">
                    </div>
                </div>

                 <div class="checkout-buttons">
                    <a href="{% url 'payment_method' shipping.id %}" class="button button-orange">Back</a>
                    <button type="submit" class="button button-orange">Confirm</button>
                </div>

            </form>

        </div>

        {% include "bids/component/order_summary.html" %}

    </div>
</div>
{% endblock content %}