{% extends "base.html" %}

{% load static %}
{% load humanize %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
<link rel="stylesheet" href="{% static 'css/my_bids.css' %}">

<div class="gallery-section">

      <h1>My Bids</h1>
      <div class="gallery-container">

            {% for bid in bids %}
            <div class="art-card">

                  <a href="{% url 'artwork-details' bid.artwork.id %}" class="art-card-link">
                        {% with img=bid.artwork.images.first.image.url %}
                        <div class="image-wrapper">
                            {% if img %}
                            <img class="image" src="{{ img }}" alt="image of artwork from artist">
                            {% else %}
                            <p>no images</p>
                            {% endif %}

                                <div class="status-badge status-{{ bid.status }}">
                                    {% if bid.status == "accepted" %}
                                      <p>Accepted!</p>

                                      {% elif bid.status == "pending" %}
                                      <p>Auction on going</p>

                                      {% elif bid.status == "rejected" %}
                                      <p>Rejected</p>

                                      {%elif bid.status == "completed"%}
                                      <p>Completed!</p>

                                      {% endif %}
                                </div>
                            </div>
                            {% endwith %}
                        <div class="art-card-info">

                              <h5>{{ bid.artwork.title }}</h5>
                                <hr>
                              <p class="price" >Your bid: <b>{{ bid.formatted_amount}} kr.</b></p>
                              <p>Highest bid: {{bid.highest_bid}} kr.</p>

                              {% if bid.status == "pending" %}
                              <p>Auction ends on: {{bid.artwork.auction_end_date}}</p>

                              {% endif %}

                              {% if bid.status == 'accepted' %}

                              <a href="{% url 'shipping' bid.id %}" class="button button-orange">
                                    Finalize bid
                              </a>

                              {%else%}

                              {% endif %}
                        </div>
                  </a>
            </div>
            {% empty %}
            <p>You have not placed any bids yet.</p>
            {% endfor %}

      </div>
</div>
{% endblock %}
