{% extends "base.html" %}

{% block content %}

<h1>My Bids</h1>
<div class="my-bids-container">

      {% for bid in bids %}
      <div class="bid-item">
            {% with img=bid.artwork.images.first.image.url %}
            {% if img %}
            <img class="image" src="{{ img }}" alt="image of artwork from artist">
            {% else %}
            <p>no images</p>
            {% endif %}
            {% endwith %}
            <h2>{{ bid.artwork.title }}</h2>
            <p>Bid amount: {{ bid.amount }}</p>
            <p>Status: {{ bid.status }}</p>
            {% if bid.status == 'accepted' %}
            <a href="{% url 'shipping' bid.id %}" class="finalize-bid-button">
                  Finalize bid
            </a>
            {% endif %}
      </div>
      {% empty %}
      <p>You have not placed any bids yet.</p>
      {% endfor %}

</div>
{% endblock %}
