{% extends "base.html" %}

{% block content %}
<div class="checkout-page">
    <div class="checkout-layout">
        <div class="checkout-main">

            <h1>Details for payment and Shipping</h1>

            <form method="post" class="shipping-form">
                {% csrf_token %}

                <label>Contact</label>
                {{ form.email }}
                {{ form.national_id }}

                <label>Delivery</label>
                {{ form.country }}

                <h3>Address</h3>

                {{ form.street_name }}
                {{ form.city }}
                {{ form.zip_code }}

                <div class="shipping-buttons">
                    <a href="{% url 'my_bids' %}" class="back-btn">Back</a>

                    <button type="submit" class="shipping-confirm-btn">Continue to payment</button>

                </div>

            </form>

        </div>
        {% include "bids/component/order_summary.html" %}

    </div>

</div>
    
{% endblock %}