<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Art Vault</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap" rel="stylesheet">
       <link rel="stylesheet" href="css/style.css">

      <style>
.art-item {


}
.art-item h3 {
      color:red
}
.art-item p {
      color: blue

}
.art-item .image {
      height: 200px;
      width: 400px;
      background-size:cover
}

      
      </style>
      <link href="css/style.css" rel="stylesheet">
</head>

<body>
      <nav class="nav-container">
            <!--TODO link menu to hammburger menu-->
            <ul>
                  <li><img src="../../assets/HamburgerMenu.svg" alt="Menu button" ></li>
                  <li><a href="browes.html" class="browes">Browse Artwork</a></li>
                  <li>
                        <a href="artvault.html"><img src="../../assets/artVaultLogo.png" alt="Art vault logo"></a>
                  </li>
            <!--TODO link profile/ logged in nav-->
                  <!--{% if user.isAuthenticated %}-->
                  <!--<a href=""></a>-->
                  <!--{% else %}-->
            <!--TODO link login/signup to button-->
                  <li><a href="" class="login">Log in</a></li>
                  <li><a href="" class="signup">Sign up</a></li>
                  <!--{% endif %}-->
            </ul>
      </nav>

      {% for a in art %}
      <div class=art-item>
            <h3>{{a.id}}</h3>
            <p>{{a.title}}</p>

            <div class="image" style="background-image: url({{ a.image_path }})">
                  
            </div>
      </div>

      {% endfor %}
</body>

</html>
