{% extends "base.html" %}
{% block content %}

{% load static%}
<hero class="hero-container">
      <img class="background-image" src="{% static 'img/artVaultLogo.png'%}" alt="Background">
      <h1>Art Vault - Discover, Bid and Own Original Art</h1>

</hero>

<div class="art-movement-container">

      {% for a in art %}

      <div class=art-item>
            <div class="image" style="background-image: url({{ a.image_path }})">

            </div>
            <p>{{a.title}}</p>
      </div>
      {% endfor %}


</div>
<div class="art-movement-container">


      {% for a in art %}

      <div class=art-item>

            <div class="image" style="background-image: url({{ a.image_path }})">

            </div>
            <p>{{a.title}}</p>
      </div>
      {% endfor %}

</div>
{% endblock content %}
