<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Art Vault</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="css/style.css">

</head>

<body>
      <nav class="nav-container">
            <!--TODO link menu to hammburger menu-->
            <ul>
                  <li><img src="../../assets/HamburgerMenu.svg" alt="Menu button"></li>
                  <li><a href="browes.html" class="browes">Browse Artwork</a></li>
                  <li>
                        <a href="artvault.html"><img src="../../assets/artVaultLogo.png" alt="Art vault logo"></a>
                  </li>

            </ul>
      </nav>

      {% for a in art %}
      <div class=art-item>
            <h3>{{a.id}}</h3>
            <p>{{a.title}}</p>

            <div class="image" style="background-image: url({{ a.image_path }})">

            </div>
      </div>

      {% endfor %}

      <footer>


      </footer>
</body>

</html>
