{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/art-details.css' %}">

<div class="art-details-container">

      <h1 class="title">{{artwork.title}} </h1>


          {% with img=artwork.images.first %}
      {% if img %}
      <div class="images-container">
                {% with main_image=artwork.images.first %}
                    {% if main_image %}
                        <img class="main-image"
                             src="{{ main_image.image.url }}"
                             alt="image of artwork">
                    {% endif %}
                {% endwith %}

                <div class="other-images">
                    {% for img in artwork.images.all %}
                        {% if not forloop.first %}
                            <img src="{{ img.image.url }}"
                                 class="side-image"
                                 alt="image of artwork">
                        {% endif %}
                    {% endfor %}
                </div>

      </div>

      {% endif %}

      {% endwith %}
    
      <div class="description-container">

            <div class="information">

                  <h2 class="artist-name">{{ artwork.artist_name }} <span class="year">( {{artwork.date.year}} )</span>
                  </h2>
                  <p class="history">{{ artwork.history }}</p>
                  <p class="italic-text">Medium: {{ artwork.medium }}</p>
                  <p class="italic-text">Dimensions: {{ artwork.dimensions }}</p>
                  <p class="italic-text">Edition: {{ artwork.edition }}</p>
                  <p class="italic-text">Art movement: {{ artwork.art_movement }}</p>
                  <p class="italic-text">Listing date: {{ artwork.date }}</p>

            </div>

            {% if not user.is_authenticated %}
            <div class="bid-info">
                {% include "artvault/components/bid_box.html" %}


                {% elif user.profile.role != "individual_seller" and user.profile.role != "gallery" %}
            

                  {% if bid_step == "make" %}
                  {% include "artvault/components/make_box.html" %}
                  {% elif bid_step == "confirm" %}
                  {% include "artvault/components/confirm_box.html" %}
                  {% elif bid_step == "success" %}
                  {% include "artvault/components/success_box.html" %}
                  {% else %}
                  {% include "artvault/components/bid_box.html" %}
                  {% endif %}
            </div>
            {% endif %}
      </div>
      <div class="seller-info">
            <a href="{% url 'public-seller-profile' artwork.seller.id %}" class="art-card">
                  {% if artwork.seller.logo %}
                        <img class="image" src="{{ artwork.seller.logo }}" alt="seller logo">
                  {% endif %}
                  <div class="art-card-info">
                        <h5 class="art-movement-h1">{{ artwork.seller.seller_name}}</h5>
                      {% if artwork.seller.profile.role == "individual_seller" %}
                        <h6 class="art-movement-h1">Individual seller</h6>
                      {% else %}
                         <h6 class="art-movement-h1">Gallery</h6>
                       {% endif %}
                  </div>
            </a>
      </div>

</div>


      {% endblock %}
