{% extends "base.html" %}

{% block content %}
{% for a in art %}
{% if a.id == id %}
<div class="art-details">
    <h1>{{a.title}}</h1>
    {% with img=a.artworkimage_set.first %}
        {% if img %}
            <img src="{{ img.image_path }}" alt="image of artwork">
        {% endif %}
    {% endwith %}
    <h2>{{ a.artist_name }}</h2>

    {% if a.sold == True %}
        <p>Sold</p>
    {% else %}
        <p>Available</p>
    {% endif %}

    <p class="italic-text">{{ a.medium }}</p>
    <p class="italic-text">{{ a.dimensions }}</p>
    <p class="italic-text">{{ a.edition }}</p>
    <p class="italic-text">{{ a.art_movement }}</p>
    <p>{{ a.history }}</p>
    <div class="art-details-bid-info">
        <p>Starting price: {{ a.starting_price }}kr</p>
        <p>Listing date: {{ a.date }}</p>
    </div>

    <div class="seller-info">
        <!--gera clickable að seller profile -->
        {{ a.seller }}
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}
