{% extends "base.html" %}

{% block content %}
    <div class="filter-container">

        <form method="GET" action="" class="filter-form">

            <div class="left-side">

                <label for="searchbar"></label>
                    <input
                        type="text"
                        id="searchbar"
                        name="searchbar"
                        placeholder="Search artwork..."
                        value="{{ request.GET.searchbar }}"
                    ><br>
                <label for="order-by"></label>
                    <select name="order" id="order-by" onchange="this.form.submit()">
                        <option value="">Order by</option>

                        <option value="title"
                            {% if request.GET.order == "title" %}selected{% endif %}>
                            Title
                        </option>

                        <option value="artist"
                            {% if request.GET.order == "artist" %}selected{% endif %}>
                            Artist
                        </option>
                    </select>

                    <button type="submit">Search</button>

            </div>

            <div class="right-side">
                <label for="movement"> </label>
                    <select name="movement" id="movement" onchange="this.form.submit()">
                        <option value="">Art movement</option>

                        {% for movement in art_movements %}
                            <option value="{{ movement }}"
                                {% if request.GET.movement == movement %}selected{% endif %}
                            >
                                {{ movement }}
                            </option>
                        {% endfor %}

                    </select>

                <label for="medium"></label>
                    <select name="medium" id="medium" onchange="this.form.submit()">
                        <option value="">Medium</option>

                        {% for medium in mediums %}
                            <option value="{{ medium }}"
                                {% if request.GET.medium == medium %}selected{% endif %}
                            >
                                {{ medium }}
                            </option>
                        {% endfor %}
                    </select>

                <fieldset>
                    <label for="min-price">Price from</label>
                        <input type="number" name="min_price" id="min-price" placeholder="Min price" value="{{ request.GET.min_price }}">
                    <label for="max-price">Price to</label>
                        <input type="number" name="max_price" id="max-price" placeholder="Max price" value="{{ request.GET.max_price }}">

                        <button type="submit">Apply price</button>
                </fieldset>
            </div>

        </form>
    </div>


    <div class="browse-art-container">
        {% for a in art %}
            <a href="{% url 'artwork-details' a.id %}" class="browse-art-link">
                <div class="browse-art-item">

                    {% with img=a.images.first %}
                        {% if img %}
                            <img class="image" src="{{ img.image.url }}" alt="image of artwork">
                        {% else %}
                            <p>No image available</p>
                        {% endif %}
                    {% endwith %}

                    <h3 class="art-title">{{ a.title }}</h3>
                    <p class="artist-name">{{ a.artist_name }}</p>
                    <p class="starting-price">Starting price: {{ a.starting_price }}kr</p>
                    <p class="highest-bid">Highest bid: {{ a.current_price }}kr</p>
                    <p>{{ a.art_movement }}</p>
                    <p> {{ a.medium }}</p>

                </div>
            </a>
        {% endfor %}
    </div>


{% endblock %}
