{% extends "base.html" %}

{% block content %}
<div class="gallery-section">
    <div class="filter-container">

        <form method="GET" action="" class="filter-form">

            <div class="left-side-filter">
                <div class="searchbar">
                    <label for="searchbar"></label>
                        <input
                            type="text"
                            id="searchbar"
                            name="searchbar"
                            placeholder="Search artwork..."
                            value="{{ request.GET.searchbar }}"
                        ><br>
                        <button type="submit">Search</button>
                </div>
                <label for="order-by"></label>
                    <select name="order" id="order-by" onchange="this.form.submit()">
                        <option value="">Order by</option>

                        <option value="title"
                            {% if request.GET.order == "title" %}selected{% endif %}>
                            Title
                        </option>

                        <option value="artist"
                            {% if request.GET.order == "artist" %}selected{% endif %}>
                            Artist
                        </option>
                    </select>


            </div>

            <div class="right-side-filter">
                <label for="movement"> </label>
                    <select name="movement" id="movement" onchange="this.form.submit()">
                        <option value="">Art movement</option>

                        {% for movement in art_movements %}
                            <option value="{{ movement }}"
                                {% if request.GET.movement == movement %}selected{% endif %}
                            >
                                {{ movement }}
                            </option>
                        {% endfor %}

                    </select>

                <label for="medium"></label>
                    <select name="medium" id="medium" onchange="this.form.submit()">
                        <option value="">Medium</option>

                        {% for medium in mediums %}
                            <option value="{{ medium }}"
                                {% if request.GET.medium == medium %}selected{% endif %}
                            >
                                {{ medium }}
                            </option>
                        {% endfor %}
                    </select>

                <fieldset>
                    <div class="filter-price">
                        <label for="min-price">Price from</label>
                            <input type="number" name="min_price" id="min-price" placeholder="Min price" value="{{ request.GET.min_price }}">
                    </div>
                    <div class="filter-price">
                        <label for="max-price">Price to</label>
                            <input type="number" name="max_price" id="max-price" placeholder="Max price" value="{{ request.GET.max_price }}">
                    </div>

                        <button type="submit">Apply price</button>
                </fieldset>
            </div>

        </form>
    </div>

     <div class="gallery-header">
        <h2>Browse Artwork</h2>
    </div>


    <div class="gallery-container">
        {% for a in art %}
            <a href="{% url 'artwork-details' a.id %}" class="art-card">

                    {% with img=a.images.first %}
                        {% if img %}
                            <img class="image" src="{{ img.image.url }}" alt="image of artwork">
                        {% else %}
                            <div class="image no-image">
                                <p>No image available</p>
                            </div>
                        {% endif %}
                    {% endwith %}

{# TODO skoða hvort það þurfi að vera allar þessar upplýsingar á art card info#}

                    <div class="art-card-info">
                        <h5 >{{ a.title }}</h5>
                        <p>{{ a.artist_name }}</p>
                        <p>{{ a.art_movement }}</p>
                        <p> {{ a.medium }}</p>

                        <p class="highest-bid">Highest bid: <b> {{ a.current_price }} kr.</b></p>
                        <p class="price">Starting bid: <b>{{ a.starting_price }} kr.</b></p>
                    </div>
            </a>
        {% endfor %}
    </div>
</div>

{% endblock %}
