{% extends "base.html" %}

{% block content %}
    <div class="left-side">
        <form method="GET" action="" class="search-form">
            <label for="search">
                <input
                    type="text"
                    id="searchbar"
                    name="searchbar"
                    placeholder="Search artwork..."
                    class="search-input"
                    value="{{ request.GET.searchbar }}"
                >

                <select name="order" id="order-by">
                    <option value="">Order by</option>
                    <option value="title" {% if request.GET.order == "title" %}selected{% endif %}>Title</option>
                    <option value="artist" {% if request.GET.order == "artist" %}selected{% endif %}>Artist</option>
                </select>
            
                <button type="submit">Search</button>
            </label>
        </form>

    </div>

    <div class="browse-art-container">
        {% for a in art %}
            <a href="{% url 'artvault-artwork-details' a.id %}" class="browse-art-link">
                <div class="browse-art-item">

                    {% with img=a.images.first %}
                        {% if img %}
                            <img class="image" src="{{ img.image_path }}" alt="image of artwork">
                        {% else %}
                            <p>No image available</p>
                        {% endif %}
                    {% endwith %}

                    <h3>{{ a.title }}</h3>
                    <p>{{ a.artist_name }}</p>
                    <p>current bid</p>
                </div>
            </a>
        {% endfor %}
    </div>


{% endblock %}
