{% extends "base.html" %}

{% block content %}
<div class="landing-page">
      <div class="gallery-header">
            <h2>View Artists</h2>
      </div>
      <div>

            {% for artist_name, artworks in artists.items %}
            <h1 class="art-movement-h1">{{artist_name}}</h1>
            <div class="art-scroll-wrapper">


                  <div class="gallery-scroll-container">
                        {% for a in artworks %}
                        <a href="{% url 'artwork-details' a.id %}" class="art-card">
                              {% with img=a.images.first %}
                              {% if img %}
                              <img class="image" src="{{ img.image.url }}" alt="image of artwork from artist">
                              {% endif %}
                              {% endwith %}

                              <div class="art-card-info">
                                    <h5 class="art-movement-h1">{{ a.title }}</h5>
                              </div>
                        </a>
                        {% endfor %}
                  </div>
                  {% endfor %}
            </div>
      </div>
</div>

{% endblock %}
