{% extends "base.html" %}
{% block content %}

{% load static %}
<div class="hero-container">
      <h1>Art Vault - Discover, Bid and Own Original Art</h1>
</div>

<div>
      <h1 class="art-movement-h1">Art Movement 1</h1>
      <div class="art-movement-container">
            {% for a in art %}
            <a href="{% url 'artvault-artwork-details' a.id %}" class="art-item">
                  {% with img=a.images.first %}
                  {% if img %}
                  <div class="image" style="background-image: url('{{ img.image_path }}')"></div>
                  {% endif %}
                  {% endwith %}
                  <p>{{ a.title }}</p>
            </a>
            {% endfor %}
      </div>
</div>

<div>
      <h1 class="art-movement-h1">Art Movement 2</h1>
      <div class="art-movement-container">
            {% for a in art %}
            <a href="{% url 'artvault-artwork-details' a.id %}" class="art-item">
                  {% with img=a.images.first %}
                  {% if img %}
                  <div class="image" style="background-image: url('{{ img.image_path }}')"></div>
                  {% endif %}
                  {% endwith %}
                  <p>{{ a.title }}</p>
            </a>
            {% endfor %}
      </div>
</div>
<div>
      <h1 class="art-movement-h1">Art Movement 3</h1>
      <div class="art-movement-container">
            {% for a in art %}
            <a href="{% url 'artvault-artwork-details' a.id %}" class="art-item">
                  {% with img=a.images.first %}
                  {% if img %}
                  <div class="image" style="background-image: url('{{ img.image_path }}')"></div>
                  {% endif %}
                  {% endwith %}
                  <p>{{ a.title }}</p>
            </a>
            {% endfor %}
      </div>
</div>

{% if messages %}
    {% for message in messages %}
        {% if message.message == "profile_setup_complete" %}
            <div id="popupModal" class="modal">
                <div class="modal-content">
                    <button class="close-btn" onclick="closeModal()">X</button>

                    <h2>Welcome to ArtVault!</h2>
                    <p>Your account is now ready. You can start showcasing your work by listing your first artwork and opening
                        it for bids. It only takes a moment to get started.</p>

                    {% if request.user.profile.role == "buyer" %}
                        <h4>Click below to start browsing artwork.</h4>
                        <a href="{% url 'artvault-browse-artwork' %}" class="modal-btn">Browse artwork</a>
                    {% else %}
                        <h4>Click below to create your first listing and share your art with others.</h4>
                        <a href="/" class="modal-btn">Create listing</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

{% if messages %}
    {% for message in messages %}
        {% if message.message == "payment_successful" %}
            <div id="popupModal" class="modal">
                <div class="modal-content">
                    <button class="close-btn" onclick="closeModal()">X</button>

                    <h2>Thank you for your purchase!</h2>
                    <p>Your payment has been processed and your order is on its way.</p>
                    <a href="{% url 'artvault-browse-artwork' %}" class="modal-btn">Browse artwork</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock content %}
