{% extends "base.html" %}
{% block content %}

{% load static %}
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    <link rel="stylesheet" href="{% static 'css/landing_page.css' %}">
<div class="hero-container">
    <div class="hero-text">
        <h1>Art Vault - Discover, Bid and Own Original Art</h1>
        <p>A digital marketplace connecting art lovers with unique artworks, talented artists, and trusted galleries.</p>
        <div class="hero-button">
            <a class="button button-orange" href="{% url 'browse-artwork' %}">Browse Artwork</a>
            <a class="button button-border" href="{% url 'browse-artists' %}">View Artists</a>
        </div>
    </div>
</div>
<div class="landing-page">
      <div class="text_container">
            <h2 class="tiny-title">Welcome to Art Vault</h2>
            <p>a digital marketplace where buyers, artists, and galleries connect. Browse unique artworks,
                  learn about different styles and movements, place bids on pieces you love, and discover sellers from
                  the art world. Whether you are searching for your first artwork
                  or your next collection piece, ArtVault makes the process simple, clear, and inspiring.</p>
      </div>

    {% for movement, artworks in artmovement.items %}
        <div>
            <h3 class="tiny-title">{{ movement }}</h3>

            <div class="art-scroll-wrapper">
                <button type="button" class="scroll-btn left" onclick="scrollArt(this, -1)">‹</button>

                <div class="gallery-scroll-container">
                    {% for a in artworks %}
                        <a href="{% url 'artwork-details' a.id %}" class="art-card">
                            {% with img=a.images.first %}
                                {% if img %}
                                    <img
                                        class="image"
                                        src="{{ img.image.url }}"
                                        alt="image of artwork"
                                        loading="lazy"
                                        decoding="async"
                                    >
                                {% endif %}
                            {% endwith %}

                            <div class="art-card-info">
                                <p>{{ a.title }}</p>
                            </div>
                        </a>
                    {% endfor %}
                </div>

                <button type="button" class="scroll-btn right" onclick="scrollArt(this, 1)">›</button>
            </div>
        </div>
            {% empty %}
            <p>No artwork is currently being sold.</p>
    {% endfor %}
</div>

      {% if messages %}
      {% for message in messages %}
      {% if message.message == "profile_setup_complete" %}
      <div id="popupModal" class="modal">
            <div class="modal-content">
                  <button class="close-btn" onclick="closeModal()">X</button>

                  <h2>Welcome to ArtVault!</h2>
                {% if request.user.profile.role == "buyer" %}
                  <p> Your account is now ready. You can now browse artwork, view artists, and place bids on pieces you love.</p>
                {% else %}
                    <p>Your account is now ready. You can start showcasing your work by listing your first artwork and
                        opening
                        it for bids. It only takes a moment to get started.</p>
                {% endif %}
                  {% if request.user.profile.role == "buyer" %}
                  <h4>Click below to start browsing artwork.</h4>
                  <a href="{% url 'browse-artwork' %}" class="button button-orange">Browse artwork</a>
                  {% else %}
                  <h4>Click below to create your first listing and share your art with others.</h4>
                  <a href="{% url 'my-profile-seller' %}" class="button button-orange">Create listing</a>
                  {% endif %}
            </div>
          </div>
          {% endif %}
          {% endfor %}
          {% endif %}

      {% if messages %}
      {% for message in messages %}
      {% if message.message == "payment_successful" %}
      <div id="popupModal" class="modal">
            <div class="modal-content">
                  <button class="close-btn" onclick="closeModal()">X</button>

                  <h2>Thank you for your purchase!</h2>
                  <p>Your payment has been processed and your order is on its way.</p>
                  <a href="{% url 'browse-artwork' %}" class="button-b button-orange">Browse artwork</a>
            </div>
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}

{% endblock content %}
