{% extends 'base.html' %}

{% block content %}
<div class="movement-page">

    {% for movement in movements %}

        <div class="movement-section">

            <div class="movement-header">
                <h1>{{ movement.name }}</h1>
                <h2>{{ movement.period }}</h2>
            </div>

            <div class="art-scroll-wrapper">
                <button type="button" class="scroll-btn left" onclick="scrollArt(this, -1)">‹</button>
                    <div class="gallery-scroll-container">
                        {% for artwork in movement.shuffled_artworks %}
                            <div class="movement-card">
                                {% if artwork.images %}
                                    <img src="{{ artwork.images.url }}" alt="{{ artwork.title }}">
                                {% endif %}
                                <div class="artwork-movement-title">
                                    <h3>{{ artwork.title }}</h3>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                <button class="scroll-btn right" onclick="scrollArt(this, 1)">›</button>
            </div>

            <div class="movement-description">
                {{ movement.description }}
            </div>

            <h2>Key Artists</h2>

            <div class="movement-artists">


                {% for artist in movement.artists.all %}
                    <a href="{% url 'movement-artist' artist.slug %}" class="movement-artist-card">
                        {% if artist.portrait %}
                            <img src="{{ artist.portrait.url }}" alt="{{ artist.name }}">
                        {% endif %}
                        <h3>{{ artist.name }}</h3>
                    </a>
                {% endfor %}

            </div>

        </div>

    {% endfor %}

</div>
{% endblock content %}





