{% extends 'base.html' %}
{% load static %}
{% block content %}
   <link rel="stylesheet" href="{% static 'css/movements.css' %}">

<div class="artist-movement-page">

    <div class="artist-top-section">

        <div class="artist-portrait">
            {% if artist.portrait %}
                <img src="{{ artist.portrait.url }}" alt="{{ artist.name }}">
            {% endif %}
        </div>



        <div class="movement-artist-description">
             <h1 class="artist-title">{{ artist.name }}</h1>
            {{ artist.description }}
        </div>

    </div>

    <div class="movement-artist-photos">
        {% for artwork in artist.artworks.all %}
            <div class="movement-artist-card">
                {% if artwork.images %}
                    <img src="{{ artwork.images.url }}" alt="{{ artwork.title }}">
                {% endif %}
                    <h3>{{ artwork.title }}</h3>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock content %}