{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">

<div class="profile-page">
    <div class="profile-cover"
         style="background-image: url('{{ seller.cover_photo.url }}')">
    </div>

      <div class="profile-card">
          <div class="profile-img">
                <img src="{{ seller.logo.url }}" alt="Profile picture">
          </div>
            <div class="profile-info">
                  {% if seller.profile.role == "individual_seller" %}

                        <p>Individual seller</p>
                  
                  {% elif seller.profile.role == "gallery" %}

                        <p>Gallery</p>
                  {% endif %}
                    <p>@{{ seller.profile.user }}</p>
                <div class="profile-address">
                    <p>{{ seller.street_name }},</p>
                    <p>{{ seller.city }},</p>
                    <p>{{ seller.zip_code }}</p>
                </div>
            </div>
      </div>
    <div class="profile-name">
        <h2>{{ seller.seller_name}}</h2>
        <p class="profile-bio">{{ seller.bio }}</p>
    </div>
</div>

<div class="gallery-section">
    <div class="gallery-header">
            <h2>Listed Artworks</h2>
    </div>
    <div class="gallery-container">
        {% for artwork in artworks %}
            <a href="{% url 'artwork-details' artwork.id %}" class="art-card">
                {% with img=artwork.images.first %}
                    {% if img %}
                        <div class="image" style="background-image: url('{{ img.image.url }}')"></div>
                    {% endif %}
                {% endwith %}
                <div class="art-card-info">
                    <h5>{{ artwork.title }}</h5>
                    <p>{{ artwork.medium }}</p>
                <p class="price">Starting bid: <b>{{ artwork.starting_price }} kr.</b></p>
                </div>
            </a>
            {% empty %}
        <div class="empty">
            <h3>This seller has no artworks listed yet.</h3>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
