

{% extends "base.html" %}

{% block content %}
<div class="gallery-section">
      <div class="gallery-header">
            <h2>View Sellers</h2>
      </div>
      <div class="gallery-container">
            {% for seller in sellers %}
                  

            
            <a href="{% url 'public-seller-profile' seller.id%}" class="art-card">


                          {% if seller.logo %}
                              <img class="logo-seller" src="{{ seller.logo.url }}" alt="logo">
                          {% endif %}


                         <div class="art-card-info">
                            <h5 class="art-movement-h1">{{ seller.seller_name }}</h5>
                         </div>
                    </a>
            {% endfor %}
      </div>
</div>

{% endblock %}
