{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<footer class="footer-container">
    <div>
     <img src="{% static 'img/artVaultLogo.png' %}" alt="ArtVault logo">
    </div>

     <div class="middle">
        <div class="footer-links">
            <a href="{% url 'contact-us' %}">Contact us</a>
            <a href="{% url 'common-questions' %}">Common questions</a>
        </div>

    </div>
    
    <div>
        <p>contact@artvault.is</p>
        <p>terms and conditions</p>
        <p>© artvault.is</p>
    </div>
</footer>