{% load static %}

<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>artvault</title>
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
     <nav class="nav-container">
        <div class="left-side">
          <div class="dropdown">
            <button onclick="MyDropdown()" class="dropbtn" type="button">
              <img src="{% static 'img/HamburgerMenu.svg' %}" alt="Menu button">
            </button>

            <div id="myDropdown" class="dropdown-content">
              <a href="#">Home</a>
              <a href="#">Browse Artwork</a>
              <a href="#">My Bids</a>
            </div>
          </div>

          <a href="#" class="browse">Browse Artwork</a>
        </div>

        <div class="logo">
          <a href="#">
            <img src="{% static 'img/artVaultLogo.png' %}" alt="ArtVault logo">
          </a>
        </div>
        <div class="right-side">
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                        <button type="submit">Logout</button>
                </form>
          {% else %}
            <a class="signup" href="{% url 'signup' %}">Signup</a>
            <a class="login" href="{% url 'login' %}">Login</a>
          {% endif %}
        </div>
      </nav>

      {% block content %}

      {% endblock %}

      <footer>


      </footer>
</body>

</html>
