{% extends 'base.html' %}

{% block content %}
    <h2>Review your order</h2>

    <h3>Shipping</h3>
    <p>Email: {{ shipping.email }}</p>
    <p>Country: {{ shipping.country }}</p>
    <p>Address: {{ shipping.street_name }}, {{ shipping.city }}, {{ shipping.zip_code }}</p>

    <h3>Payment</h3>

    {% if shipping.payment_method == "card" %}
        <p>Cardholder: {{ payment.cardholder_name }}</p>
        <p>Card: **** **** **** {{ payment.credit_card_number|slice:"-4:" }}</p>

    {% elif shipping.payment_method == "bank" %}
        <p>Bank: {{ payment.bank }}</p>
        <p>hb: {{ payment.hb  }}</p>
        <p>Account: {{ payment.account }}</p>

    {% elif shipping.payment_method == "wire" %}
        <p>Bank: {{ payment.sending_bank }}</p>
        <p>Routing: {{ payment.routing_number }}</p>
        <p>Account: {{ payment.account_number }}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirm Order</button>
    </form>

    {% if shipping.payment_method == "card" %}
        <a href="{% url 'credit_card_payment' shipping.id %}">Back</a>
    {% elif shipping.payment_method == "bank" %}
        <a href="{% url 'bank_transfer_payment' shipping.id %}">Back</a>
    {% elif shipping.payment_method == "wire" %}
        <a href="{% url 'wire_transfer_payment' shipping.id %}">Back</a>
    {% endif %}

{% endblock %}