{% load static %}

<div class="bid-card">

    {% if user.is_authenticated %}

        <p class="highest-bid">Highest bid</p>

        <h2 class="bid-price">
            {{ current_price }} Kr.
        </h2>

        <a href="{% url 'make_bid' artwork.id %}" class="bid-button">
            <span class="bid-icon">⚖</span>
            BID
        </a>

        <div class="bid-close">
            <div>


                <p>Bid close: <strong>In {{artwork.days_remaining}} Days</strong> <span>⌛</span></p>

                <p>{{artwork.auction_end_date}}</p>
            </div>
        </div>

    {% else %}

        <div class="login-required">

            <div class="bid-text-login">
                <p><b>Please login or signup to place a bid.</b></p>
            </div>

            <div class="login-photo">
                <img src="{% static 'img/login.svg' %}" alt="login">
            </div>

            <div class="auth-buttons">
                <a href="{% url 'login' %}" class="login-btn">
                    Login
                </a>

                <a href="{% url 'signup' %}" class="signup-btn">
                    Signup
                </a>
            </div>

        </div>

    {% endif %}

</div>
