{% load static %}

<div class="bid-card">

    {% if user.is_authenticated %}
        {% if artwork.bids.exists %}

            <p class="highest-bid">Highest bid</p>

            <h2 class="bid-price">
                {{ current_price }} Kr.
            </h2>
            {% if user_bid %}
                <p>My last bid: {{ user_bid.formatted_amount }} Kr.</p>
                {% if user_bid.status == "accepted" %}
                <p>Accepted!</p>

                {% elif user_bid.status == "pending" %}
                <p>Bid status: Auction on going</p>


                {% elif user_bid.status == "rejected" %}
                <p>Bid status: Rejected</p>

                {%elif user_bid.status == "completed"%}
                <p>Bid status: Completed!</p>
                {% endif %}
            {% endif %}

            <a href="{% url 'make_bid' artwork.id %}" class="button-b button-orange">
                <span class="bid-icon">⚖</span>
                BID
            </a>

            <div class="bid-close">
                <div>
                    <p>Bid close: <strong>In {{artwork.days_remaining}} Days</strong> <span>⌛</span></p>

                    <p>{{artwork.auction_end_date}}</p>
                </div>
            </div>
        {% elif not artwork.bids.exists %}
            <p class="highest-bid">Starting price</p>

            <h2 class="bid-price">
                {{ current_price }} Kr.
            </h2>

            <a href="{% url 'make_bid' artwork.id %}" class="button-b button-orange">
                <span class="bid-icon">⚖</span>
                BID
            </a>

            <div class="bid-close">
                <div>
                    <p>Bid close: <strong>In {{artwork.days_remaining}} Days</strong> <span>⌛</span></p>

                    <p>{{artwork.auction_end_date}}</p>
                </div>
            </div>
        {% endif %}

    {% else %}

        <div class="login-required">

            <div class="bid-text-login">
                <p><b>Please log in or signup to place a bid.</b></p>
            </div>

            <div class="login-photo">
                <img src="{% static 'img/login.svg' %}" alt="login">
            </div>

            <div class="auth-buttons">
                <a href="{% url 'login' %}" class="button button-black">
                    Login
                </a>

                <a href="{% url 'signup' %}" class="button button-white">
                    Signup
                </a>
            </div>

        </div>

    {% endif %}

</div>
