{% load static %}

<div class="bid-card">
    <h1 class="bid-price">{{ amount }} Kr.</h1>
    <h2 class="bid-label">Are you sure?</h2>

    <div class="bid-text-confirm">
        <img src="{% static 'img/shield_card.svg' %}" alt="warning">
        <p><b>Please note:</b> once submitted,
            your bid is binding and cannot
            be changed or withdrawn.
        </p>
    </div>
    <form method="post" action="{% url 'submit_bid' artwork.id %}">
        {% csrf_token %}

        <button type="submit" class="button-bid">I'm sure</button>
        <a href="{% url 'make_bid' artwork.id %}" class="bid-button">Cancel bid</a>
    </form>
</div>