{% load static %}

<div class="bid-card">
    <h3 class="highest-bid">Highest bid</h3>
    <h2 class="bid-price">{{ current_price }} Kr.</h2>

    <form method="post" action="{% url 'make_bid' artwork.id %}">
        {% csrf_token %}

        <div class="bid-text">
            <p>Bid has to be 5000 Kr. over highest bid</p>
        </div>

        <label for="bid-amount">
            <input type="number" name="amount" class="bid-amount-input" placeholder="Amount..." min="{{ current_price|add:5000 }}" required>
        </label>

        <button type="submit" class="button-bid">Submit</button>
    </form>

</div>
