{% load static %}

{% if artwork.bids.exists %}
    <div class="bid-card">
        <h3 class="highest-bid">Highest bid</h3>
        <h2 class="bid-price">{{ current_price }} kr.</h2>

        <form method="post" action="{% url 'make-bid' artwork.id %}" class="bid-form">
            {% csrf_token %}
                {% if messages %}
                {% for message in messages %}
                    <div class="bid-text">
                            {{ message }}
                    </div>
                {% endfor %}
                {% endif %}
            <div class="bid-text">
                <p>Bid has to be 10% over highest bid</p>
            </div>

        <div class="form-group bid-field">

            <label for="bid-amount">
                <input type="number" step="1000" name="amount" class="bid-amount-input" placeholder="Amount..." min="{{ minimum_bid }}" value="{{ minimum_bid }}" required>
            </label>
        </div>

            <button type="submit" class="button-b button-orange">
                {% if user_bid %}
                    RESUBMIT
                {% else %}
                    SUBMIT
                {% endif %}
            </button>
        </form>
    </div>
{% elif not artwork.bids.exists %}
    <div class="bid-card">
        <h3 class="highest-bid">Starting price</h3>
        <h2 class="bid-price">{{ current_price }} kr.</h2>

        <form method="post" action="{% url 'make-bid' artwork.id %}" class="bid-form">
            {% csrf_token %}
                {% if messages %}
                {% for message in messages %}
                    <div class="bid-text">
                            {{ message }}
                    </div>
                {% endfor %}
                {% endif %}
            <div class="bid-text">
                <p>Be the first to bid.</p>
            </div>


        <div class="form-group bid-field">
            <label for="bid-amount">
                <input type="number" step="1000" name="amount" class="bid-amount-input" placeholder="Amount..." min="{{ minimum_bid }}" value="{{ minimum_bid }}" required>
            </label>
        </div>

            <button type="submit" class="button-b button-orange">Submit</button>
        </form>
    </div>
{% endif %}
