{% load static %}

{% if artwork.is_closed and highest_bid %}
    <div class="bid-card">
        <div class="star-img">
            <img src="{% static 'img/gavel.svg' %}" alt="warning">
        </div>

        <h2 class="bid-label">This auction has ended.</h2>

        <div class="bid-text">
            <p>Winning bid: {{ current_price }} kr.</p>
        </div>

        <a href="{% url 'browse-artwork' %}" class="button-b button-orange">Continue Browsing</a>

    </div>

{% elif artwork.is_closed and not artwork.bids.exists %}
    <div class="bid-card">
        <div class="star-img">
            <img src="{% static 'img/angry.svg' %}" alt="warning">
        </div>

        <h2 class="bid-label">Auction ended with no bids</h2>

         <div class="bid-text">
            <p>This artwork was not sold!</p>
        </div>

        <a href="{% url 'browse-artwork' %}" class="button-b button-orange">Continue Browsing</a>
    </div>
{% endif %}
