{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="add-listing-page">

    <h1>Account Settings</h1>

    <form
        method="POST"
        action="{% url 'account-settings' %}"
        enctype="multipart/form-data"
    >
        {% csrf_token %}



        {% if profile.role == "buyer" %}

            <div class="add-listing-form">

                <div class="form-group">
                <label for="id_profile_image">Profile image</label>

                    <div class="buyer-upload-section">
                        <label for="id_profile_image" class="buyer-upload-box">
                            {% if profile.buyer_profile.profile_image %}
                                <img id="buyer-profile-preview"
                                    src="{{ profile.buyer_profile.profile_image.url }}"
                                    alt="profile image">
                            {% endif %}
                        </label>

                        {{ form.profile_image }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{ form.full_name.id_for_label }}">Full name</label>
                    {{ form.full_name }}
                </div>

            </div>

        {% else %}


               <div class="form-group">
                <label for="id_cover_photo">Cover photo</label>

                    <div class="seller-cover-setup">
                        <label for="id_cover_photo" class="seller-cover-box">

                            {% if profile.seller_profile.cover_photo %}
                                <img
                                        id="seller-cover-preview"
                                    src="{{ profile.seller_profile.cover_photo.url }}"
                                    alt="cover photo"
                                >
                            {% endif %}
                        </label>

                        {{ form.cover_photo }}
                    </div>
                </div>

            <div class="form-row-seller">
                <div class="form-group">
                    <label for="id_logo">Logo</label>

                        <div class="seller-logo-selection">
                            <label for="id_logo" class="seller-logo-box">

                                {% if profile.seller_profile.logo %}
                                    <img id="seller-logo-preview"
                                        src="{{ profile.seller_profile.logo.url }}"
                                        alt="logo">
                                {% endif %}
                            </label>
                            {{ form.logo }}
                        </div>
                </div>

                 <div class="form-group bio-field">
                    <label>Bio</label>
                    {{ form.bio }}
                </div>

            </div>


                <div class="form-group">
                    <label for="{{ form.full_name.id_for_label }}">Name</label>
                    {{ form.seller_name }}
                </div>



                {% if profile.role == "gallery" %}

                   <div class="form-group">
                        <label for="{{ form.street_name.id_for_label }}">Street name</label>
                        {{ form.street_name }}
                   </div>

                    <div class="form-group">
                        <label for="{{ form.city.id_for_label }}">City</label>
                        {{ form.city }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.zip_code.id_for_label }}">Zip code</label>
                        {{ form.zip_code }}
                    </div>

                {% endif %}


        {% endif %}

        <div class="password-section">

            <h3>Change password</h3>

            {{ form.non_field_errors }}

            <div class="form-group">
                <label for="{{ form.new_password.id_for_label }}">New password</label>
                {{ form.new_password }}
            </div>

            <div class="form-group">
                <label for="{{ form.confirm_password.id_for_label }}">Confirm new password</label>
                {{ form.confirm_password }}
            </div>



        </div>

        <button type="submit" class="button button-orange">
            Save changes
        </button>

    </form>
      {% if messages %}
      {% for message in messages %}
      {% if message.message == "account-settings-updated" %}
      <div id="popupModal" class="modal">
            <div class="modal-content">
                  <button class="close-btn" onclick="closeModal()">X</button>

                  <p>Changes confirmed.</p>
                  {% if profile.role == "buyer" %}
                      <a href="{% url 'home' %}" class="button button-orange">Continue</a>
                  {% else %}
                      <a href="{% url 'my-profile-seller' %}" class="button button-orange">Continue</a>
                  {% endif %}
            </div>
      </div>
      {% endif %}
      {% if message.message == "account-settings-update-failed" %}
      <div id="popupModal" class="modal">
            <div class="modal-content">
                  <button class="close-btn" onclick="closeModal()">X</button>

                  <p>We couldn’t save your changes. Please try again.</p>
                  <a href="{% url 'account-settings' %}" class="button button-orange">Try again</a>
            </div>
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
</div>

{% endblock %}
