{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="account-settings-container">

    <h1>Account Settings</h1>

    <form
        method="POST"
        action="{% url 'account-settings' %}"
        enctype="multipart/form-data"
    >
        {% csrf_token %}



        {% if profile.role == "buyer" %}

            <div class="account-card">

                <h3>Profile image</h3>

                <div class="buyer-upload-section">
                    <label for="id_profile_image" class="buyer-upload-box">
                        {% if profile.buyer_profile.profile_image %}
                            <img id="buyer-profile-preview"
                                src="{{ profile.buyer_profile.profile_image.url }}"
                                alt="profile image"
                            >
                        {% endif %}
                    </label>

                    {{ form.profile_image }}
                </div>

                <h3>Full name</h3>
                {{ form.full_name }}

            </div>

        {% else %}

            <div class="account-card">

                <h3>Logo</h3>

                <div class="seller-logo-selection">
                    <label for="id_logo" class="seller-logo-box">

                        {% if profile.seller_profile.logo %}
                            <img id="seller-logo-preview"
                                src="{{ profile.seller_profile.logo.url }}"
                                alt="logo"
                            >
                        {% endif %}
                    </label>
                    {{ form.logo }}
                </div>

                <h3>Cover photo</h3>

                <div class="seller-cover-setup">
                    <label for="id_cover_photo" class="seller-cover-box">

                        {% if profile.seller_profile.cover_photo %}
                            <img
                                    id="seller-cover-preview"
                                src="{{ profile.seller_profile.cover_photo.url }}"
                                alt="cover photo"
                            >
                        {% endif %}
                    </label>

                    {{ form.cover_photo }}
                </div>

                <h3>Name</h3>
                {{ form.seller_name }}

                <h3>Bio</h3>
                {{ form.bio }}

                {% if profile.role == "gallery" %}

                    <h3>Street name</h3>
                    {{ form.street_name }}

                    <h3>City</h3>
                    {{ form.city }}

                    <h3>Zip code</h3>
                    {{ form.zip_code }}

                {% endif %}

            </div>

        {% endif %}

        <div class="password-section">

            <h3>Change password</h3>

            {{ form.non_field_errors }}

            <p>New password</p>
            {{ form.new_password }}

            <p>Confirm new password</p>
            {{ form.confirm_password }}



        </div>

        <button type="submit" class="button button-orange">
            Save changes
        </button>

    </form>
      {% if messages %}
      {% for message in messages %}
      {% if message.message == "account-settings-updated" %}
      <div id="popupModal" class="modal">
            <div class="modal-content">
                  <button class="close-btn" onclick="closeModal()">X</button>

                  <p>Changes confirmed.</p>
                  {% if profile.role == "buyer" %}
                      <a href="{% url 'home' %}" class="modal-btn">Continue</a>
                  {% else %}
                      <a href="{% url 'my_profile_seller' %}" class="modal-btn">Continue</a>
                  {% endif %}
            </div>
      </div>
      {% endif %}
      {% if message.message == "account-settings-update-failed" %}
      <div id="popupModal" class="modal">
            <div class="modal-content">
                  <button class="close-btn" onclick="closeModal()">X</button>

                  <p>We couldn’t save your changes. Please try again.</p>
                  <a href="{% url 'account-settings' %}" class="modal-btn">Try again</a>
            </div>
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
</div>

{% endblock %}