{% extends "base.html" %}

{% block content %}

<div class="account-settings-container">
    <h1>Account Settings</h1>


    {% if profile.role == "buyer" %}
        <div class="account-card">
            <img class="profile-picture" src="{{ buyer_profile.profile_image.url }}" alt="Profile picture">
            <h2>{{ buyer_profile.full_name }}</h2>
            <p>{{ profile.role }}</p>
            <form method="POST" action="{% url 'account-settings'%}" class="edit-name-form">
                {% csrf_token %}
                <label for="edit-name">Edit name</label>

                    <input
                        type="text"
                        id="edit-name"
                        name="edit-name"
                        placeholder="Enter new name..."
                        value="{{ buyer_profile.full_name }}"
                    >
                    <button type="submit">Confirm</button>

            </form>

            <form method="POST" action="{% url 'account-settings'%}" enctype="multipart/form-data" class="edit-profile-picture-form">
                {% csrf_token %}
                <label for="edit-profile-picture">Edit profile picture</label>
                    <input
                        type="file"
                        id="edit-profile-picture"
                        name="edit-profile-picture"
                        placeholder="Enter image url..."
                        value="{{ buyer_profile.profile_image }}"
                    >

                    <button type="submit">Confirm</button>

            </form>
        </div>
    {% elif profile.role == "gallery" %}
        <div class="account-card">
            <img class="profile-picture" src="{{ seller_profile.logo.url }}" alt="Profile picture">
            <h2>{{ seller_profile.seller_name }}</h2>
            <p>{{ profile.role }}</p>

            <form method="POST" action="{% url 'account-settings'%}" class="edit-name-form">
                {% csrf_token %}
                <label for="edit-name">Edit name</label>
                    <input
                        type="text"
                        id="edit-name"
                        name="edit-name"
                        placeholder="Enter new name..."
                        value="{{ seller_profile.seller_name }}"
                    >
                    <button type="submit">Confirm</button>

            </form>

            <form method="POST" action="{% url 'account-settings'%}" enctype="multipart/form-data" class="edit-profile-picture-form">
                {% csrf_token %}
                <label for="edit-profile-picture">Edit profile picture</label>
                    <input
                        type="file"
                        id="edit-profile-picture"
                        name="edit-profile-picture"
                        placeholder="Enter image url..."
                        value="{{ seller_profile.logo }}"
                    >

                    <button type="submit">Confirm</button>

            </form>

            <form method="POST" action="{% url 'account-settings'%}" class="edit-bio-form">
                {% csrf_token %}
                <label for="edit-bio">Edit bio</label><br>
                    <textarea id="edit-bio" name="edit-bio" rows="4" cols="50" placeholder="Enter new bio here...">{{ seller_profile.bio }}</textarea>
                    <br>
                    <button type="submit">Confirm</button>
            </form>

            <form method="POST" action="{% url 'account-settings'%}" class="edit-bio-address">
                {% csrf_token %}
                <fieldset>
                    <legend>Edit Address</legend>
                        <label for="edit-street_name">Edit street name</label>
                        <input
                            type="text"
                            id="edit-street_name"
                            name="edit-street_name"
                            placeholder="Enter street name..."
                            value="{{ seller_profile.street_name }}"
                        >
                        <label for="edit-city">Edit city</label>
                        <input
                            type="text"
                            id="edit-city"
                            name="edit-city"
                            placeholder="Enter city name..."
                            value="{{ seller_profile.city }}"
                        >
                        <label for="edit-zip">Edit zip-code</label>
                        <input
                            type="text"
                            id="edit-zip"
                            name="edit-zip"
                            placeholder="Enter zip-code..."
                            value="{{ seller_profile.zip_code }}"
                        >

                        <button type="submit">Confirm</button>
                </fieldset>

            </form>

        </div>

    {% else %}
                <div class="account-card">
            <img class="profile-picture" src="{{ seller_profile.logo.url }}" alt="Profile picture">
            <h2>{{ seller_profile.seller_name }}</h2>
            <p>{{ profile.role }}</p>

            <form method="POST" action="{% url 'account-settings'%}" class="edit-name-form">
                {% csrf_token %}
                <label for="edit-name">Edit name</label>
                    <input
                        type="text"
                        id="edit-name"
                        name="edit-name"
                        placeholder="Enter new name..."
                        value="{{ seller_profile.seller_name }}"
                    >
                    <button type="submit">Confirm</button>

            </form>

            <form method="POST" action="{% url 'account-settings'%}" class="edit-profile-picture-form">
                {% csrf_token %}
                <label for="edit-profile-picture">Edit profile picture</label>
                    <input
                        type="file"
                        id="edit-profile-picture"
                        name="edit-profile-picture"
                        placeholder="Enter image url..."
                        value="{{ seller_profile.logo }}"
                    >

                    <button type="submit">Confirm</button>

            </form>

            <form method="POST" action="{% url 'account-settings'%}" class="edit-bio-form">
                {% csrf_token %}
                <label for="edit-bio">Edit bio</label><br>
                    <textarea id="edit-bio" name="edit-bio" rows="4" cols="50" placeholder="Enter new bio here...">{{ seller_profile.bio }}</textarea>
                    <br>
                    <button type="submit">Confirm</button>
            </form>
        </div>

    {% endif %}
</div>

{% endblock %}

