{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="buyer-setup-page">

        <form method="post" action="{% url 'buyer_setup' %}" enctype="multipart/form-data" class="buyer-setup-form">
            {% csrf_token %}

            <div class="upload-section">
                <label for="id_profile_image" class="upload-box">
                    <img src="{% static 'img/uppload-photo.svg' %}" class="upload-icon" alt="Upload">
                </label>
                {{ form.profile_image }}
                <p>Upload picture <span>*</span></p>
            </div>

            <div class="name-section">
                {{ form.full_name }}
                <span class="required">*</span>
            </div>

            <button type="submit" class="confirm-btn">Confirm</button>

        </form>
    </div>
{% endblock %}