{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="buyer-setup-page">

        <form method="post" action="{% url 'buyer_setup' %}" enctype="multipart/form-data" class="buyer-setup-form">
            {% csrf_token %}
            {{ form.non_field_errors }}

        <div class="form-group required-field upload-field">

            <label for="id_profile_image">Upload picture</label>
            <span class="required" >*</span>
            <div class="buyer-upload-section">
                <label for="id_profile_image" class="buyer-upload-box">

                    <img id="buyer-profile-preview" src="{% static 'img/uppload-photo.svg' %}" class="upload-icon" alt="Upload">
                </label>
                {{ form.profile_image }}

            </div>

            {% if form.profile_image.errors %}
                <div class="errorlist">
                    {{ form.profile_image.errors }}
                </div>
            {% endif %}

        </div>

                <div class="form-group required-field">
                    <span class="required" >*</span>
                    {{ form.full_name }}
                    {{ form.full_name.errors }}
{#                    <span class="required">*</span>#}
                </div>
                <button type="submit" class="button button-orange">Confirm</button>

        </form>
    </div>

{% endblock %}