{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="page">

    <div class="seller-setup-page">

        <form method="POST" enctype="multipart/form-data" class="seller-setup-form" novalidate>
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="left-side-setup">
                <div class="form-group required-field upload-field" >

                    <label for="id_logo" class="upload-label">
                        Upload picture
                    </label>
                    <span class="required">*</span>
                    <label for="id_logo" class="seller-upload-box">
                        <img src="{% static 'img/uppload-photo.svg' %}" class="logo-upload-icon" alt="Upload picture">
                    </label>
                    {{ form.logo }}
                    {% if form.logo.errors %}
                        <div class="errorlist">
                            {{ form.logo.errors }}
                        </div>
                    {% endif %}


                    <div class="form-group bio-field">
                        {{ form.bio }}
                        {{ form.bio.errors }}
                        <span class="required">*</span>
                    </div>
                </div>

            </div>

            <div class="right-side-setup">

                 <div class="form-group required-field upload-field" >
                        <label for="id_logo" class="upload-label">
                            Upload picture
                        </label>
                        <div class="cover-wrapper">
                            <label for="id_cover_photo" class="seller-cover-box">
                                <img src="{% static 'img/uppload-photo.svg' %}" class="cover-upload-icon" alt="Upload picture">
                            </label>
                            {{ form.cover_photo }}
                            {% if form.cover_photo.errors %}
                                <div class="errorlist">
                                    {{ form.cover_photo.errors }}
                                </div>
                            {% endif %}
                            <span class="required">*</span>
                        </div>
                 </div>

                <div class="input-group form-group required-field ">
                    <label for="id_full_name">Full name</label>
                    {{ form.seller_name }}
                    {{ form.seller_name.errors }}
                    <span class="required">*</span>
                </div>


                <h3>Address</h3>

                <div class="input-group form-group required-field ">
                    <div class="input-group">
                        <label for="id_street_name">Street name</label>
                        {{ form.street_name }}
                        {{ form.street_name.errors }}
                        <span class="required">*</span>
                    </div>

                    <div class="input-group form-group required-field ">
                        <label for="id_city">City</label>
                        {{ form.city }}
                        {{ form.city.errors }}
                        <span class="required">*</span>
                    </div>

                    <div class="input-group form-group required-field ">
                        <label for="id_zip_code">Postal code</label>
                        {{ form.zip_code }}
                        {{ form.zip_code.errors }}
                        <span class="required">*</span>
                    </div>
                </div>
            </div>
            <button type="submit" class="button button-orange seller-confirm-btn">Confirm</button>

        </form>

    </div>
</div>
    {% endblock %}
