{% load static %}

<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>artvault</title>
      <link href="{% static 'css/main.css' %}" rel="stylesheet" />
</head>

<body>
      <nav class="nav-container">
            <!--TODO link menu to hamburger menu-->
            <ul>
                  <li><img src="{% static 'img/HamburgerMenu.svg'%}" alt="Menu button"></li>
                  <li><a href="browes.html" class="browes">Browse Artwork</a></li>
                  <li>
                        <a href="artvault.html"><img src="{% static 'img/artVaultLogo.png'%}" alt="Art vault logo"
                                    style="height: 300px; width: 400px"></a>
                  </li>
                  {% if user.is_authenticated %}
                      <li class="nav-item">
                        <a class="nav-link" href="{% url "logout" %}">Logout</a>
                      </li>
                  {% else %}
                     <li class="nav-item">
                        <a class="nav-link" href="{% url "signup" %}">Signup</a>
                     </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url "login" %}">Login</a>
                      </li>
                  {% endif %}
            </ul>
      </nav>

      <img src="{% static 'img/HamburgerMenu.svg'%}" alt="test">
      <div>
            hithere
      </div>
      {% block content %}

      {% endblock %}

      <footer>


      </footer>
</body>

</html>
